{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviado - Exit Ticket</title>
</head>
<body>
  <section id="resultado-aluno">
    <div class="conteudo">
      <h2>Resultado do exit ticket</h2>
      <fieldset>
        <legend>Dados do aluno</legend>
        <div id="info-aluno">
          <p>Nome: {{nome}}</p>
          <p>Email: {{email}}</p>
          <p>Data: {{data}}</p>
        </div>
      </fieldset>
    </div>
  </section>
</body>
</html>